
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "../libs/bootstrap/scss/bootstrap";

// MDBootstrap
@import "../libs/MDBootstrap/sass/mdb";


.weather-icon-wrap {
  text-align: center;
  display: block;
  font-size: 5em;
  padding-top: 30px;
  background-color: #0c699e;
  background-image: url('/images/bkg.png');
  color: #fff;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

.card {
  margin-bottom: 2.0rem;
}